*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,h1,h5,li{
    font-family: "PT Sans" , sans-serif;
    color: #fffffff1;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffffe1;

}

i{
color: white;
}

.container30{
    width: 30%;
    height: 328.5px;
    background-color: #222;
    position: absolute;
    
}

/* ********** CONTACTS ********** */

.contacts {
   
    position: relative;
    width: 88%;
    margin: auto;
    height: 225px;
    background-color: rgba(81, 168, 157, 0.815);
    padding: 10px;
    top: -50px;
    right: 67px;
    margin-left: 87px;
}

.img-information{
    display: flex;
}

.img {
    flex: 1;
    line-height: 15;
    margin-left: 10px;
    position: relative;
}
.img img{
    color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3.5px solid white;
    margin-top: 21.5px;
    
    
}

.overflow{
    overflow: hidden;
}
.information{
    flex: 3;
}

.information .employer-name {
    font-size: 35px;
    color: white;
    
    width: 100%;
    height: 50px;
    word-spacing: 6.5px;
    letter-spacing: 2.5px;
    display: inline-block;
    font-weight: 600;
    margin-left: 13.5px;
}

.information .job-name{
    color: white;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 4px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 15px;
}
.contact-list{
    margin-left: 15.5px;
}
.contact-list li{
    margin-top: 10px;
    font-size: 12.5px;
   
}

.contact-list i{
    margin-right: 3.5px;
    font-size: 12px;

}

.upper {
    background-color: #222;
    width: 30%;
    border-radius: 10px 0 0;
    height: 64px;
    margin-bottom: 40px;
}
.left {
  
    background-color: #222;
    width: 47px;
    height: 275px;
    display: inline-block;
}
.left::before{
    position: absolute;
    content: "";
    top: 0;
    height: 110px;
    width: 44px;
    background-color: #222;
    bottom: auto;
    right: 0;
    left: 0;


}
.lower{
    background-color: #222;
    width: 30%;
    position: relative;
   border-radius:0 0 0 10px ;
    height: 750px;
    margin: 0; 
    min-height:0;
}

.lower::before{
    content: "";
    height: 50px;
    position: absolute;
    background: #222;
    top: -50px;
    width: 100%;

}

.thestyle-of-contact{
    display: flex;
}
html, body {margin: 0; }



/* ************* SKLLIS ************* */

.level{
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: rgba(81, 168, 157, 0.815);
    position: relative;
    top: 50px;
    left: 25px;
}
.css-level.level::after{
    content: "";
    width: 85px;
    height: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;

}
.java-level.level::after{
    content: "";
    width: 135px;
    height: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.react-level.level::after{
    content: "";
    width: 160px;
    height: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.boot-level.level::after{
    content: "";
    width: 90px;
    height: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.skills-name{
    position: relative;
    display: inline-block;
    top: 35px;
    left: 25px;
    width: 50px;
    height: 15px;
    font-weight: 400;
    font-size: 0.8rem;
}

.skl-levell{
    margin-bottom: 30px;
    
}
.skl-level{
    margin: 10px 0 30px 0;
}

.skills-information {
    position: relative;
    top: -19px;
}


.skill-head{
    position: relative;
    top: -10px;
    left: 25.5px;
    letter-spacing: 3px;
    color: rgba(81, 168, 157, 0.815);
    font-size: 1rem;
}

.language-head {
    position: relative;
    top: 63px;
    left: 25.5px;
    letter-spacing: 3px;
    color: rgba(81, 168, 157, 0.815);
    font-size: 1rem;
}



.language-information {
    position: relative;
    top: 49px;
    margin-bottom: 75px;
}



.english-level.level:after{
    content: "";
    width: 120px;
    height: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

/* ***************** PROFILE ************* */

.profile-flex{
    display: flex;
    justify-content: space-between;
 
}

.profile {
    flex: -9;
    position: relative;
    width: 56%;
    top: -27.5px;
    margin-right: 92.5px;
    height: auto;
    
}

.eduction-head {
    background-color: rgba(81, 168, 157, 0.815);
    display: inline-block;
    padding: 3px 7px 3px 7px;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1rem;
    width: auto;
    margin-top: 9px;
    margin-bottom: 15px;
}

.postion{
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 3.5px;

}

.universty-name{
    font-size: 15px;
    color: #444343c0;
    margin-bottom: 5px;
}

.eduction-desc{
    font-size: 15px;
    color: black;
    margin-bottom: 13px;
}

.eduction-information {
    margin-bottom: 64px;
    margin-top: 5px;
}


.postion-duration{
    display: inline-block;
    margin-right: 240px;
   
}

.duration{
    font-size: 15px;
    color: #222;
    font-weight: 270;
}

.employment-desc{
    margin-bottom: 15px;
}

.employment-desc{
    margin-bottom: 20px;
}

.employment-information {
    margin-bottom: 72px;
}


.drawing {
    position: relative;
    top: 82px;
    left: 41.5px;
}
.drawing::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(81, 168, 157, 0.815);
    left: -5;
    right: auto;
    left: -15px;
    top: 4px;
    bottom: 0;
}

/* ************** PRIVACEY ***************** */

.privacey {
    position: relative;
    font-size: 15px;
    color: black;
    top: 1%;
}

.privacey-head{
    margin-top:150px;
  }
/* **************** APP ************** */

.App{
    width: 60%;
    margin: auto;
    position: relative;
    margin: 25px auto 25px auto;
    border-radius: 5px;
    box-shadow: 1px -1px 10px black;
    
}
.App::after {
    content: "";
    -webkit-background: url(../CV-project/images2.png);
    background: url(../CV-project/images2.png);
    -webkit-opacity: 0.4;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-z-index: -1;
    z-index: -1;   
    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }


  